<h1>Create new movie:</h1>

<form action="/movies/create" method="post">
	  <input type="text" name="title" placeholder="title">
	  <input type="text" name="director" placeholder="director">
	  <input type="text" name="image" placeholder="image url">
	  <input type="text" name="rating" placeholder="critic rating">
	  <input type="submit">
</form>