<div class="container">
  <h3>Log in:</h3>

  <form action="/login" method="post">
    <div>
      <label for="email">Email Address:</label>
      <input type="text" name="email" placeholder="email@address.com">
    </div>

    <div>
      <label for="name">Password:</label>
      <input type="password" name="password">
    </div>

    <div>
      <button type="submit">Sign In</button>
    </div>
  </form>
</div>