<div>
  <div class="container">
    <h3>The Bechdel Test</h3>

    <h4>
      1. The movie has to have at least two women in it...<br>
      2. ...who talk to each other<br>
      3. ...about something besides a man.
    </h4>

    <p>
      <a href="https://en.wikipedia.org/wiki/Bechdel_test">Find out more about the Bechdel Test.</a>
    </p>
  </div>
</div>

<div>
  <div class="container">
    <h1>
      Bechdel Gallery
    </h1>

    <% if @bechdel_pass != nil %>
      <% @bechdel_pass.each_with_index do |movie, i| %>
        <div class="movie">
          <a href="/movies/<%= movie.movie_id %>/view">
            <img src="<%= movie.movie_info.image %>">
          </a>
        </div>
      <% end %>
    <% else %>
      <p>No Bechdel results yet.</p>
    <%end%>
  </div>
</div>
