<h2>Error</h2>

<% if @error != nil%>
    <h2><%= @error %></h2>
  <% end %>

<% if @error_object != nil %>
  <% @error_object.get_errors.each do |error_message| %>
    <h2>*<%= error_message %></h2>
  <% end %>
<% end %>